extends base.pug

block scripts
    script(src='/static/index.js')

block style 
    style
        include ../static/styleabout.css

block content
  
  section.section2 
       div.card2 
         <p>ccgvhmvbgchgbvvb ghcghvhjgfcbn vcggmjbhjvxhjhkvnjk</p>

                
  section.section3 
       div.card3 
         <p>ccgvhmvbgchgbvvb ghcghvhjgfcbn vcggmjbhjvxhjhkvnjk</p>   

  section.section4 
       div.footer 
          <p> heyy hii i am footer! </p>